* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    /* position: relative; */
    color: white;
    font-family: 'Varela', sans-serif;
    /* font-size: clamp(16px, 0.84vw, 1000px); */
    font-size: 0.84vw;
    letter-spacing: 0.05em;
}

/* анимации фона */

.background, .glowtree {
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    background-position: top;
    position: absolute;
    pointer-events: none;
}

.background {
    background-image: url(images/new\ background.png);
    animation: opacitychange2 6s forwards;
    z-index: -4;
}
@keyframes opacitychange2 {
    from {
        filter: blur(0em);
    }
    to {
        filter: blur(.12em);
    }
}

.glowtree {
    background-image: url(images/glowtree.png);
    animation: opacitychange1 4s;
    /* z-index: -1; */
}
@keyframes opacitychange1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.effect {
    position: absolute;
    animation: opacitychange1 5s;
    pointer-events: none;
    /* z-index: 2; */
    inset: 0;
}

/* header и меню nav */

header {
    display: flex;
    min-width: 100vw;
    min-height: calc(100vh/7);
    /* position: absolute; */
    top:-4em;
    padding: 0 calc(100vw/4);
    /* animation: move 2s forwards 1s ease-in-out; */
    z-index: 1;
}

@keyframes move {
    from{
        top:-4em;
    }
    to{
        top: 0;
    }
}



ul {
    display: flex;
    align-items: center;
    width: calc(100vw - 2*(100vw/4));
    min-height: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0 0 2.7em 0;
    /* background-color: red; */
    font-size: 1.6em;
    text-transform: uppercase;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc((100vw - 100vw/4)/7);
    /* border: 2px solid violet; */
    position: relative;
    /* transition: all 1s ease-in-out; */
    cursor: pointer;
    z-index: 1;
    top: -4em;
    animation: move 2s forwards 1s ease-in-out;
}

li::before {
    content: "";
    width: 100%;
    height: 3.5em;
    border: 0.1em solid white;
    border-radius: 0.6em;
    top: -1.7em;
    left: 0;
    opacity: 1;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(.2em);
    animation: blur 1s ease-in-out backwards 3s;
    transition: all 0.4s ease-in-out;
}

@keyframes blur {
    from {
        opacity: 0;
        top: -3.1em;
        backdrop-filter: blur(0);
    }
    to {
        opacity: 1;
        top: -1.7em;
        backdrop-filter: blur(0.2em);
    }
}

li:hover::before {
    top: -1.4em;
    box-shadow: 0 0.35em 0em rgb(230, 72, 195);
    /* background-color: rgb(212, 49, 177); */
}

li > p {
    position: relative; 
    cursor: pointer;
}

li > p::before{
    content: "";
    position: absolute;
    width: 70%;
    height: 0.2em;
    border-radius: 0.6em;
    background-color: rgb(230, 72, 195);
    /* border: 0.1em solid rgb(230, 72, 195);; */
    bottom: -.4em;
    left: 15%;
    transform-origin: bottom;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    transition-delay: 0.1s; 
    z-index: -1;
}
li > p:hover::before {
    transform-origin: top;
    transform: scaleX(1);
}

/* main */

main {
    width: 100%;
    padding: 0 calc(100vw/5);
    font-family: 'Bahnschrift', arial;
    font-weight: bold;
    font-stretch: condensed;
    text-align: right;
    z-index: -1;
    /* position: relative; */
}

section {
    /* position: absolute; */
}
.miracle {
    font-size: 17.2em;
    padding: 1.4em 0 0 0;
    text-shadow: 0em 0em 0.05em whitesmoke, 0 0 0.08em white;
    animation: glow 1.2s 3s infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0em 0em 0.05em whitesmoke, 0 0 0.07em white;
    }
    to {
        text-shadow: 0em 0em 0.05em whitesmoke, 0 0 0.12em white;
    }
}

.miracle > p {
    position: relative;
    z-index: -1;
}
.miracle > p::before {
    content:"MIRACLE";
    font-family: 'Bahnschrift', arial;
    width: 100%;
    /* color: rgb(170, 53, 53); */
    font-weight: bold;
    font-stretch: condensed;
    text-shadow: 0em 0em 0.05em whitesmoke, 0 0 0.08em white;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 8em;
    animation: movement 2.5s 2.7s ease-in-out backwards;
}

@keyframes movement {
    from {
        right: 8em;
    }
    to {
        right: 0;
    }
}